/* .content
{
    background-color: #3CB342;
} */

.textpadding 
{
    padding: 2.0em;
}

.heading 
{
    text-align: center;
    padding-top: 0px; 
    width: 90%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    color: #6C5ECC;
    opacity: .9;
}
/*     
#headingtext
{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: auto;
    margin-left: auto;
    opacity: .8;
    color: #2E2E2E
} */
/* 
#paratext
{
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: auto;
    margin-left: auto;
    opacity: .8;
    color: #2E2E2E    
} */

.gridbox 
{
    display: inline-block;
    box-shadow: 10px 10px 20px #6C5ECC;
    color: #2E2E2E;
    width: 25%;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #b7c4b7;
}

.box
{
    justify-content: space-between;
    align-items: center;   
}

/* 
.centeronpage
{
    position: center;
} */