
.heading 
{
    text-align: center;
    padding-top: 0px; 
    width: 90%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    color: #6C5ECC;
    opacity: .9;
}


.gridbox 
{
    box-shadow: 10px 10px 20px #6C5ECC;
    color: #2E2E2E;
    margin: 40px;
    width: 300px;
    padding: 20px;
    background-color: #b7c4b7;
    align-content: center;
}

.item
{
    display: flex;
    justify-content: space-between;
    /* align-self: center;  */
    /* width: 25%; */
    /* height: 400px;  */
}

.services
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.gridbox p {
    padding-bottom: 10px;
}